---
layout: body
---

<div class="outer">
  <div class="inner-medium">
    <article class="post page post-full">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header>

      {% assign subtitle_is_not_empty = page.subtitle | is_not_empty %} {% if
      subtitle_is_not_empty %}
      <div class="post-subtitle">
        {{ page.subtitle }}
      </div>

      {% endif %} {% assign img_path_is_not_empty = page.img_path | is_not_empty
      %} {% if img_path_is_not_empty %}
      <div class="post-thumbnail">
        <img src="{{ page.img_path | relative_url }}"
             alt="{{ page.title }}" />
      </div>

      {% endif %}
      <div class="post-content">
        {{ content }}
        <form name="contact-form"
              method="POST"
              netlify-honeypot="subject-field"
              data-netlify="true"
              id="contactform"
              class="contact-form"
              onsubmit='gtag("event", "Submit", { "event_category": "Form", "event_label": "Contact Form" });'>
          <p class="screen-reader-text">
            <label>Don't fill this out if you're human: <input name="subject-field" /></label>
          </p>
          <p class="form-row">
            <label class="form-label">Name</label>
            <input type="text"
                   name="name"
                   class="form-input" />
          </p>
          <p class="form-row">
            <label class="form-label">Email</label>
            <input type="email"
                   name="email"
                   class="form-input" />
          </p>
          <p class="form-row">
            <label class="form-label">Message</label>
            <textarea name="message"
                      class="form-textarea"
                      rows="7"></textarea>
          </p>
          <input type="hidden"
                 name="form-name"
                 value="RAD-Contact-Form" />
          <p class="form-row form-submit">
            <button type="submit"
                    class="button">Send
              Message</button>
          </p>
        </form>

      </div>

    </article>

  </div>

</div>